body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background: grey;
}

.header {
  flex-direction: column;
  padding: 10px;
  display: flex;
  width: 70%;
  background: white;
  box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  background: white;
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  line-height: 2em;
  color: rgb(44, 44, 44);
}

p {
  margin-left: 1%;
  margin-right: 15%;
  text-align: justify;
}

#ava {
  position: absolute;
  right: 20%;
  top: 70px;
}

#name-section {
  margin-top: 0;
  padding-left: 70px; 
  display: flex;
  align-items: center;
  height: 5em;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 5px rgba(73,73,73,.7);
  background: rgb(150, 150, 150);
}

h3, h4 {
  text-transform: uppercase;
}

.contacts {
  margin-right: 60%;
  list-style: none;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  display: flex;
  align-items: center;
  width: max-content;
}

pre {
  font-size: .8rem;
}
     
